{{ form_start(form, {attr: {class: "navbar-form navbar-left"}}) }}
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">
            <i class="glyphicon glyphicon-search"></i>
        </span>
        {{ form_widget(form.term, {attr: {placeholder: "Search"}}) }}
    </div>
{{ form_end(form) }}