{% macro show(document) %}
    <form class="pull-right" method="post" action="{{ path("document_toggle_pin", {id: document.id}) }}">
        <button class="btn btn-default" onclick="event.stopPropagation()">
            <i class="document_state document_state_{% if workflow_can(document, 'pin') %}pin{% else %}unpin{% endif %} glyphicon glyphicon-pushpin"></i>
        </button>
    </form>
    <form class="pull-right" method="post" action="{{ path("document_toggle_done", {id: document.id}) }}">
        <button class="btn btn-default" onclick="event.stopPropagation()">
            <i class="document_done document_done_{% if workflow_can(document, 'finish') %}finish{% else %}reset{% endif %} glyphicon glyphicon-ok"></i>
        </button>
    </form>
    <form class="pull-right" method="post" action="{{ path("document_remove", {id: document.id}) }}">
        <button class="btn btn-default" onclick="event.stopPropagation()">
            <i class="glyphicon glyphicon-trash"></i>
        </button>
    </form>
{% endmacro %}