{% macro show(tag) %}
    <a href="{{ path('filtered_homepage', {id: tag.id}) }}" class="">
        <span class="label label-default">
            {{ tag.name }}
        </span>
    </a>
{% endmacro %}